:root {
    --success: #12c99b;
    --error: #e41749;
}

.alert {
    min-height: 67px;
    width: 390px;
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
}

.alert-success {
    background: var(--success);
}

.alert-success .icon__wrapper .error,.alert-error .icon__wrapper .success {
    display: none;
}

.alert-error {
    background: var(--error);
}

.alert .icon__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    color: #fff;
}


.alert p {
    color: #fff;
    font-family: Verdana;
    margin-left: 10px;
}

.alert .close {
    color: #fff;
    transition: transform 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.alert .close:hover {
    transform: scale(1.3);
}

.alert.alert-hide{
    display: none;
}