
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("included.css");

/* ==========all blogs styling start========== */

body{
    background-color: #1E1E1E;
}
.all_blogs_page{
    margin-top: 150px;
}
.all_blogs_heading_sec{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #1E1E1E;

}
.all_blogs_heading_line{
    border: 2px solid #66fcf1;
    width: 50px;
    margin-right: 20px;
}
.all_blogs_heading_sec h2{
    color: #FFFFFF;
    font-size: 28px;
    
}
.all_blogs_card_title h2{
    color: #FFFFFF;
    font-size: 24px;
    line-height: calc(24 * 1.2px);
    margin-top: 5px;
    margin-bottom: 10px;
}

.all_blogs_card_para{
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffffbb;
}
.all_blogs_card_para p{
    font-size: 16px;
    color: #ffffffbb;
    line-height: calc(16 * 1.2px);
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
.all_blogs_card_para .inner-image{
    width: 100%;
    height: 430px;
    margin:10px 0;
}
.inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.all_blogs_card_para h1,.all_blogs_card_para h2,.all_blogs_card_para h3,.all_blogs_card_para h4,.all_blogs_card_para h5,.all_blogs_card_para h6{
    font-size:18px;
    line-height: calc(18 * 1.2px);
    color: #fff;
    margin: 12px 0;
}
/* all blogs cards start */
.all_blogs_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
/* blogs card start */
.all_blogs_card_container{
    width: 80%;
    padding: 10px;
    margin: 5px;
    background-color: #1E1E1E;
    border-radius: 15px;
    


}
.card_break_line{
    width: 100%;
    border: 2px solid #3c3c3c;
    margin: 15px 0px;
}
.all_blogs_profile_img_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.all_blogs_card_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.all_blogs_card_profile .__profile__pic{
    width: 98px;
    height: 98px;
    border-radius:50%;
    overflow: hidden;
    margin-bottom: 7px;
    
}
.__profile__pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.all_blogs_card_profile .user-details___{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
}
.all_blogs_card_profile h4{
    color: #ffffff9a;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;

}
.all_blogs_card_profile h6{
    color: #ffffff38;
    font-size: 12px;
    font-weight: 400;
}
.all_blogs_card_img{
    width: 70%;
    margin: 5px;
    height: 300px;
}
.all_blogs_card_img img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
}
.all_blogs_date_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.date_blogs_card p{
    font-size: 14px;
    color: #ffffff41;
    font-weight: 400;
}
.readmore_blogs_card_btn a{
    padding: 4px 8px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #1E1E1E;
    margin: 5px;
    background-color: #fff;
    
}
/* ==========all blogs responsive styling start========== */



@media only screen and (max-width:501px) {
    .all_blogs_profile_img_sec{
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: flex-start;
    }
    .all_blogs_card_img{
        width: 100%;
        margin: 5px 0;
        height: auto;
    }
    .all_blogs_card_profile{
        margin: 10px 0;
        flex-direction: row;
        -ms-flex-direction: column;
    }
    .all_blogs_card_profile .user-details___{
        padding-left: 10px;
    }
    .all_blogs_card_profile h4{
        color: #ffffff9a;
        font-size: 14px;
        line-height: calc(14 * 1.2px);
        font-weight: bold;
   }
   .all_blogs_card_profile h6{
    display: none;
   }
   .readmore_blogs_card_btn button{
    padding: 2px 8px;
    border-radius: 20px;
}
.all_blogs_card_profile .__profile__pic{
    width: 70px;
    height: 70px;
    display: none;
}
.all_blogs_card_para .inner-image{
height: auto;
}


}