
*{
    margin: 0;
    padding: 0;
}
.coming_soon_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff;
}
.coming_soon_sec img{
    width: 280px;
    height: auto;
    
}