@import url("included.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color-pink:#e40f68 ;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;
  --black-color:#000;
  --low-black-color:#202020fa;
  --text-black-color:#141414fa;
  --blue-light:#0c0c34;
  --blue-white:#0080ff;
  --low-pink:#e8f1ff;
  --low-neela:#e0cdff;
  --high-pink:#690041;
  --high-yellow:#fdc160;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
.signup_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1e1e1e;
    height: 100vh;
    

}
.signup_container_tabs{
    width: 90%;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ccc;
    border: 3px inset #707070;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

}
.signup_container_tabs a{
    text-decoration: none;
    color: #0c0c34;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup_Tab_link.sign_active{
   background-color: #0080ff;
   color: #fff;
   height: 100%;
   transition: 0.8s;
   border: 3px outset #cccc;


   
}
.signup_tab_data.sign_active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.tabs_content_sign{
    width: 100%;
    max-width: 600px;
}
.signup_tab_data{
    display: none;
    width: 100%;
    height: 90vh;
    margin-bottom: 10px;
    max-height: 700px;
    background-color: #404040;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 

}
.signup_tab_data h1{
    color: #FFF;
    text-align: center;
    line-height: 28px;
    margin-bottom: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.signup_tab_data input{
    width: 90%;
    margin: 10px 0px;
    padding: 15px 15px;
    outline: #0080ff;
    font-size: 16px;
    color: #ccc;
    background-color: #404040;
}
.signup_tab_data input[type="submit"]{
    background-color: #0080ff;
    border: 3px outset #cccc;
    color: #fff;
    font-size: 18px ;
    font-weight: solid;
    cursor: pointer;
    margin-top: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.or_line{
    width: 93%;
    display: flex;
    align-items: center;
    color: #fff;
}
.or_line span{
    border: 1px solid #cccccc5c;
    width: 100%;
    margin: 10px 10px;
    
}
.with_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: 3px outset #1e1e1e;
    padding: 15px;
    margin: 5px;

}
 #with_link{
    display: flex;
    align-items: center;
 }

@media (max-width:620px){
    .tabs_content_sign{
      
        max-width:96%;
    }
    .signup_container_tabs{
        max-width: 96%;
    }
}