@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}



._dashboard{
    width: 100%;
    min-height: 100vh;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
}


._dashboard ._top{
    min-height: 60px;
    background: #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:25px;
    width:100%;
    border-bottom: 1px solid rgba(255,255,255,0.26);
}

._top ._top_logo{
    color: rgba(255,255,255,0.36);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

._top .right_nav{
    display: flex;
    align-items: center;
}

.right_nav li{
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_nav li  a{
    color: rgba(255,255,255,0.46);
    font-size: 16px;
}

.right_nav li a i{
    margin-right: 6px;
}

#btn_for_sidebar{
    display: none;
}

._dashboard ._bottom{
    min-height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


._bottom ._bottom_left{
    width: 200px;
    background: #404040;
    min-height: calc(100vh - 60px);
    transition: all 0.2s ease-in-out;
    z-index: 200;
}

._bottom_left ._side_bar{
    width: 100%;
    padding-top: 0;
    padding-bottom: 10px;
}

._side_bar li{
    color: rgba(255,255,255,0.51);
    width: 100%;
    padding: 7px 0px;
    padding-left: 25px;
}

._side_bar li  a{
    width: fit-content;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.46);
    font-size: 16px;
    text-transform: capitalize;
}

._side_bar li i{
margin-right: 6px;
width: 20px;
}

._side_bar li.__active{
background-color: #01524C;
}


._bottom ._bottom_right{
    width: calc(100% - 200px);
    height: calc(100vh - 60px);
    padding: 0px 20px;
    overflow: hidden;
    overflow-y: auto;
}

._bottom_right ._greeting{
    padding: 11px 0px;
    font-size: 20px;
    color: rgba(255,255,255,0.36);
}

._bottom_right ._breadcrumb{
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    display: flex;
    color: rgba(255,255,255,0.46);
    text-transform: capitalize;
    background: rgba(255,255,255,0.10);
}
._breadcrumb hr{
    border: none;
    border-left: 1px solid rgba(255,255,255,0.46);
    margin: 0px 8px;
    transform: rotate(30deg);
}

._bottom_right ._welcome_message{
    padding: 10px 14px;
    background: #5FF9A6;
    color: #00742E;
    font-size: 14px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

._welcome_message i{
    font-size: 24px;
    margin-right: 12px;
}


._bottom_right ._websites_stats_container{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
}

._websites_stats_container ._stat_box{
    width: 24%;
    margin-bottom:10px;
}

/* responsive stats container*/
@media (max-width:840px) {
    ._websites_stats_container{
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }
    ._websites_stats_container ._stat_box{
        width: 48%;
    }
}
/* responsive stats container*/




._stat_box ._stat_box_top{
    display: flex;
    padding: 35px 10px;
    color: #fff !important;
    justify-content: space-between;
    font-size: 14px;
    background-color: #0085FF;
    border-radius: 4px 4px 0px 0px;
    
}



._websites_stats_container ._stat_box:nth-child(2) ._stat_box_top{
    background-color: #E31717;
}
._websites_stats_container ._stat_box:nth-child(3) ._stat_box_top,._container_2 ._stat_box:nth-child(2) ._stat_box_top,._container_3 ._stat_box:nth-child(1) ._stat_box_top{
    background-color: #2CDB72;
}

._websites_stats_container ._stat_box:nth-child(4) ._stat_box_top,._container_2 ._stat_box:nth-child(1) ._stat_box_top{
    background-color: #00D3AD;
}
._container_2 ._stat_box:nth-child(4) ._stat_box_top{
    background-color: #E80000;
}

._container_2 ._stat_box:nth-child(3) ._stat_box_top{
    background: #0085FF;
    }


.stat_box_top_left i{
    font-size: 30px;
}

._stat_box_top .stat_box_top_right{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    font-size: 16px;
}

._stat_box_top .stat_box_top_right ._stat_count{
    margin-bottom: 5px;
}
.stat_box_top_right ._stat_count_name{
    text-transform: capitalize;
}
._stat_box ._stat_box_bottom{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,0.10);
    color: #75F9E1;
    font-size: 13px;
    border-radius: 0px 0px 4px 4px;
}

/* responsive dashboard */
@media (max-width:600px) {
    ._dashboard ._bottom{
   position: relative;
   flex-direction: column;
   -ms-flex-direction: column;
    }
    ._bottom ._bottom_left{
        position: absolute;
        left: -200px;
        top: 0px;
    } 
    ._bottom .move_it{
        left: 0px;
    }
    ._bottom ._bottom_right{
        width: 100%;
    } 

    ._websites_stats_container{
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
    }
    ._websites_stats_container ._stat_box{
        width: 100%;
        margin: 0px;
        margin: 10px 0px;
    }
    ._dashboard ._top{
        padding: 0px;
        padding: 0px 7px;
    }

    

    .right_nav li{
         margin: 0px;
         margin-right: 15px;
    }

    .right_nav li a span{
        display: none;
    }
    .right_nav li a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .right_nav li a i{
        font-size: 20px;
        margin: 0px;
    }
    .right_nav li a i.doosra{
        display: none;
    }

    #btn_for_sidebar{
     display: block;
    }
   

}
/* responsive  dashboard*/

/* pagination */
.pagination__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 60px;
    overflow-x: auto;
    border: 1px solid red;
    padding: 10px 0;
}

.pagination__container .pagination__{
    width: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    width: 100%;
    flex-shrink: 0;
}
.pagination__ li{
    background: #000;
    border: 2px solid #fff;
    display: flex;
    margin: 10px 0;
    border-radius: 3px;
}

.pagination__ li.active a{
    background: #EFA12B;
    color: #fff;
}

.pagination__ li  a{
    display: flex;
    padding: 5px 20px;
    border: 4px solid #000;
    background: #000;
    border-radius: 4px;
    color: #EFA12B;
}

