/* users.html page */
._users_stats{
    display: flex;
    align-items: center;
    justify-content: unset !important;
}

._users_stats ._stat_box{
    margin-right: 10px;
    width: 27% !important;
}
._users_stats ._stat_box:nth-child(1) .stat_box_top_right ._stat_count_name , .stat_box_top_right ._stat_count{
color: #fff !important;
}
._users_stats ._stat_box:nth-child(2) ._stat_box_top{
    background-color: rgba(255,255,255,0.46) !important;
}
._users_stats ._stat_box:nth-child(3) ._stat_box_top{
    background-color: #EFA12B !important;
}
.stat_box_top_right ._stat_count_name , .stat_box_top_right ._stat_count{
    font-size: 14px !important;
    color: #FFD3D3;
}

@media (max-width:915px) {
    ._users_stats ._stat_box{
        width:33% !important;
    }
}

@media (max-width:850px) {
    ._users_stats ._stat_box{
        width:46% !important;
    }
}

@media (max-width:750px) {
    ._users_stats{
        flex-direction: column !important;
        -ms-flex-direction: column !important;
        align-items: center !important;
    }
    ._users_stats ._stat_box{
        width:100% !important;
        margin: 0px;
    }
}

/* table */
._table_container_{
    width: 100%;
    overflow-x: auto;
    height: auto;
    margin-bottom: 30px;
}
._table_is{
    border-color :rgba(255,255,255,0.49);
    border-collapse: collapse;
    width: 100%;
}

._table_is thead{
    background: #01524C;
}

._table_is thead th{
    padding: 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

._table_is tbody tr td{
    text-align: center;
    color :rgba(255,255,255,0.46);
    padding: 10px;
}
._table_is tbody tr td ._user_edit_btn{
padding: 8px 20px;
color: #fff;
background: #00AB45;
outline: none;
border: none;
text-transform: uppercase;
font-size: 12px;
border-radius: 2px;
cursor: pointer;
}

._table_is tbody tr td ._user_delete_btn{
    padding: 8px 10px;
    color: #fff;
    background: #E80000;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    }
    

/* table */

/* users.html page */

